@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
    unicode-range: U +0900 -097F, U +1CD0 -1CF9, U +200C -200D, U +20A8, U +20B9, U +20F0, U +25CC, U + A830-A839, U + A8E0-A8FF, U +11B00 -11B09;
}

body{
    width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    display: block;
    /* margin: 0px; */
}
* {
	padding: 0;
	margin: 0;
    overflow-x: hidden;
}
html {
	font-size: 10px;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}


/* Header Section */
.header{
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    z-index: 1000000000000000000000000000;
    transition: top 0.3s ease-in-out;
    margin-bottom: 70px;
}
.header .inner_header {
    width: 1135px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.menu .logo {
    color: #29819c;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
}
.menu .logo a {
    text-decoration: none;
    color: #29819c;
}
.menu .navbar {
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    display: flex;
    gap: 22px;
    border-right: 1px solid rgba(85, 116, 125, 0.35);
    padding-right: 30px;
}
.menu .navbar .active{
    font-weight: 700;
    color: #29819c;
}
.menu .navbar a {
    position: relative;
    text-decoration: none;
    columns: #2e2c33;
}
.navbar a::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 0px;
    height: 1.5px;
    background-color: #29819c;
    transition: width 0.3s ease;
}
.hamburder {
    position: absolute;
    display: none;
    padding: 10px;
    right: 5%;
    cursor: pointer;
}
.hamburder .bar {
    height: 3px;
    width: 35px;
    background-color: #29819c;
    margin: 5px 0;
}
.offcanvas {
    position: fixed;
    top: 0;
    left: -100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 10000;
    transition: left 0.4s ease-in-out, background-color 1s ease-in-out;
    justify-content: center;
    z-index: 999999999999999;
}
.offcanvas .inner_offcanvas {
    width: 90%;
    height: 100vh;
    padding-top: 40px;
    background-color: #fff;
}
.inner_offcanvas .cross {
    color: #29819c;
    font-size: 50px;
    font-weight: 700;
    margin-top: -30px;
    margin-right: 30px;
    cursor: pointer;
}
.inner_offcanvas .offcanvas_title {
    color: #29819c;
    padding-left: 9%;
    font-size: 30px;
    font-weight: 600;
    font-family: "Poppings", sans-serif;
    margin-bottom: 40px;
}
.inner_offcanvas .link {
    display: block;
    color: #2e2c33;
    text-transform: capitalize;
    font-size: 23px;
    font-weight: 700;
    text-decoration: none;
    padding-top: 20px;
    font-family: "Poppins", sans-serif;
}
.inner_offcanvas a {
    border-bottom: 1px solid rgb(180, 173, 173);
    padding-left: 10%;
    padding-bottom: 12px;
}
.inner_offcanvas .company_info {
    margin-top: 60px;
    display: flex;
}
.inner_offcanvas .company_info .company_info_left {
    padding-top: 25px;
    color: #2e2c33;
    opacity: 1;
    display: grid;
    gap: 15px;
    padding-left: 10%;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    width: 55%;
    padding-right: 20px;
}
b {
    font-weight: bolder;
}
.inner_offcanvas .company_info .company_info_right {
    width: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner_offcanvas .company_info .company_info_right .book_schedule {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #29819c;
    border: none;
    outline: none;
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
    width: 200px;
    height: 65px;
}
.inner_offcanvas .company_info .company_info_right .book_schedule p {
    display: block;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.menu .contact_info {
    color: #07252f;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    padding-left: 25px;
    padding-right: 25px;
}
.menu .book_appointment {
    color: #fff;
    font-family: "Poppins", sans-serif;
    background-color: #29819c;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
/* End of Header Section */


/* https://internsarea.techlogicians.com/Arkan/Medical_Tourism_Project/assets/Images/banner_bg_image.png */
/* Hero Section */

.banner_container {
    position: relative;
    background: linear-gradient(180deg, rgba(10, 40,62, 0.83) 0%, rgba(0,46, 79, 0.88) 100%), url(https://internsarea.techlogicians.com/Arkan/Medical_Tourism_Project/assets/Images/banner_bg_image.png);
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: -70px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
div{
    display: block;
    unicode-bidi: isolate;
}
.banner_content_wrapper {
    width: 1135px;
    display: flex;
    justify-content: space-between;
}
.left_banner_content {
    width: 49%;
    padding-top: 100px;
    color: #fff;
}
.above_line {
    width: 57px;
    height: 10px;
    background-color: #29819c;
    border-radius: 9px;
}
.left_banner_content h1 {
    font-size: 42px;
    padding-top: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.left_banner_content h3 {
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    margin-top: -10;
}
h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.left_banner_content p {
    color: rgba(255,255, 255, 0.9);
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-size: normal;
    font-weight: 400;
    line-height: 37px;
    margin: 0;
    padding: 17px 0 50px 0;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
button{
    appearance: auto;
    text-rendering: auto;
    color: butontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em 0em 0em 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: none;
}
.banner_container .about_button{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #29819c;
    font-family: "Poppins", sans-serif;
    padding: 13px 27px;
    border-radius: 4px;
    background-color: #29819c;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 999;
    transition: background-color 0.3s;
}
.banner_container .about_button:hover {
    background-color: #fff;
    color: #29819c;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.banner_container .about_button a {
    text-decoration: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
}
.banner_container .about_button:hover a {
    color: #29819c;
}

/* End Hero Section */




/* Media Query for Desktop */
@media (max-width: 1200px) {
    .banner_container .banner_content_wrapper{
        width: 90%;
    }
}
@media (max-width: 1920px) {
    .banner_container{
        height: 600px;
    }
    
    .left_banner_content{
        width: 50%;
        padding-top: 100px;
    }
}

@media (max-width: 767px) {
    .banner_container{
        height: 940px;
    }
    .banner_container .banner_content_wrapper{
        width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }
}
@media (max-width: 575px) {
    .banner_container .banner_content_wrapper{
        width: 90%;
    }
} */
/* @media (max-width: 1024px) {
    .menu p {
        display: none;
    }
}